body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    border-radius: 5px;
    margin-bottom: 80px;
}

.description-container {
    margin-bottom: 40px;
}

.description-container h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
    color: #c80d0d;
}

.description-container p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Contenedor para misión, visión y políticas */
.info-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info-box {
    flex: 1;
    background-color: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.info-box p {
    font-size: 1em;
    line-height: 1.4;
}

.info-box:first-of-type, .info-box:last-of-type {
    background-color: rgb(244, 232, 232);
    border: 2px solid #c80d0d;
    box-shadow: 0 0 5px rgb(255, 2, 2);
}


/*Footer*/
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    /*flex-wrap: wrap;*/
}

.footer-section {
    width: 20%;
    padding: 10px;
}

.footer-section h2 {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    font-size: 20px;
}

.footer-section p, .footer-section a {
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
}

.footer-section a:hover {
    color: #FF6464;
}

.footer-section i{
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
}

.footer-section a {
    margin-right: 10px;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .main-container {
        width: 90%;
        padding: 15px;
        margin-top: 100px; /* Ajusta el margen superior si es necesario */
        margin-bottom: 60px; /* Ajusta el margen inferior si es necesario */
    }

    .description-container h1 {
        font-size: 2.5em; /* Ajusta el tamaño de fuente */
    }

    .description-container p {
        font-size: 1.1em; /* Ajusta el tamaño de fuente */
    }

    .info-box {
        flex: 1 1 100%; /* Los elementos ocupan el 100% del ancho disponible */
    }

    .footer-section {
        width: 45%; /* Ajusta el ancho para pantallas medianas */
        margin-bottom: 10px; /* Espaciado inferior entre secciones */
    }
}

@media screen and (max-width: 700px) {
    .main-container {
        width: 95%;
        padding: 10px;
        margin-top: 70px; /* Ajusta el margen superior si es necesario */
        margin-bottom: 40px; /* Ajusta el margen inferior si es necesario */
    }

    .description-container h1 {
        font-size: 2em; /* Ajusta el tamaño de fuente */
    }

    .description-container p {
        font-size: 1em; /* Ajusta el tamaño de fuente */
    }

    .info-flex {
        flex-direction: column; /* Los elementos se organizan en columna */
        gap: 10px; /* Espaciado entre elementos */
    }

    .info-box {
        width: 100%; /* Los elementos ocupan el 100% del ancho disponible */
    }

    .footer-container {
        flex-direction: column; /* Los elementos se organizan en columna */
    }

    .footer-section {
        width: 100%;
        text-align: center; /* Centra el texto en pantallas pequeñas */
        margin-bottom: 20px; /* Espaciado inferior entre secciones */
    }

    .footer-section h2 {
        font-size: 18px; /* Ajusta el tamaño de fuente */
    }

    .footer-section a {
        font-size: 14px; /* Ajusta el tamaño de fuente */
    }
}

@media screen and (max-width: 540px) {
    .footer-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-section h2 {
        font-size: 18px;
    }

    .footer-section a {
        font-size: 14px;
    }
    
}
